{% extends "idea/base.html" %}

{% block content %}

<div class="container">
    <div class="card-header justify-content-center">
        <h3 class="font-weight-light my-4 text-center">Изменить профиль</h3>
    </div>
    <div class="row">
      <div class="col-lg-4">    
        <div class="card mb-4">
          <div class="card-body text-center">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="mdo" width="150px" height="150px" class="rounded-circle">
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="150px" height="150px" fill="grey" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>
            {% endif %}
            <p class="text-muted mb-0">
                <label class="small mb-1">Изменить аватар:</label>
            </p>
            {{ profile_form.avatar }}
            <h5 class="my-3">{{ user.username }}</h5>
            <p class="text-muted mb-4">
                <label class="small mb-1">Обо мне:</label> {{ profile_form.about_me }}
            </p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">https://mdbootstrap.com</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">
                    <label class="small mb-1">First name:</label>
                    {{ profile_form.first_name }}
                    <label class="small mb-1">Last name:</label>
                    {{ profile_form.last_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                    {{ profile_form.email }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">Мои идеи
                </p>
                <ul class="list-group list-group-flush rounded-3">
                {% for idea in ideas %}
                    <li class="list-group-item d-flex align-items-center p-3">
                      <i class="fas fa-globe fa-lg text-warning"></i>
                      <p class="mb-1"><a href="{% url 'idea' idea.id %}">{{ idea.title }}</a></p>
                    </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">Избранное
                </p>
                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-0">
                        <div class="card-body">
                            <button type="submit" class="btn btn-dark btn-lg">Сохранить изменения</button>
                            <button type="reset" class="btn btn-dark btn-lg">Сбросить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

    
{% endblock content %}